* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

#input1 {
    padding: 10px;
    margin: 10px;
}

#input2 {
    padding: 10px;
    margin: 10px;
}

#result {
    padding: 10px;
    margin: 10px;
    margin-left: 32px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
}

.buttons {
    display: inline-block;
}