* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "OpenSans Semibold";
    src: url(Fonts/OpenSans-Semibold.ttf);
    font-family: OpenSans-Regular;
    src: url(Fonts/OpenSans-Regular.ttf);
    font-family: OpenSans-Bold;
    src: url(Fonts/OpenSans-Bold.ttf);
    font-family: Quattrocento-Bold;
    src: url(Fonts/Quattrocento-Bold.ttf);
}

a,
li {
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0px auto;
}

header {
    background: #1d2126;
    height: 80px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

#logo {
    padding: 29px 0px;
}

#menu ul li {
    padding-right: 40px;
    display: inline-block;
}

#menu ul li:last-child {
    padding-right: 0px;
}

#menu ul li a {
    line-height: 80px;
    color: #a4aead;
    font-size: 14px;
    font-family: "OpenSans Semibold";
    padding: 8px;
    font-weight: 600;
}

#menu ul li a:hover {
    border: 2px solid #5a6068;
    border-radius: 5px;
}

#menu ul li:first-child a {
    color: #23b7a4;
    border: 2px solid #23b7a4;
    padding: 8px;
    border-radius: 5px;
}

#baner {
    background-color: #3d374f;
    background-image: url(Image/backgrounf.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 660px;
}

#baner .container h1 {
    font-family: Quattrocento-Bold;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    padding-top: 226px;
    padding-bottom: 24px;
}

#baner .container h3 {
    font-size: 16px;
    line-height: 26px;
    color: #ccd0d7;
    font-family: OpenSans-Regular;
    font-weight: 400;
    width: 654px;
    padding-bottom: 40px;
}

#baner .container ul>li {
    display: inline-block;
    padding: 13px 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin-right: 10px;
}

#baner .container ul>li a {
    font-size: 14px;
    color: #ffffff;
}

#baner .container ul>li:hover {
    background-color: #23b7a4;
    border: none;
}

#work .container {
    display: flex;
}

#social h2 {
    margin-top: 80px;
    font-size: 36px;
    color: #292f36;
    font-family: Quattrocento-Bold;
    border-left: 10px solid #e1e6ea;
    padding-left: 15px;
    margin-bottom: 60px;
}

#social p {
    width: 653px;
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
    font-family: OpenSans-Regular;
    margin-right: 36px;
}

#social>p:nth-child(3) {
    margin-top: 30px;
    margin-bottom: 50px;
}

#social ul li {
    display: inline-block;
    margin-bottom: 100px;
    background: #c8cdd0;
    height: 60px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    padding-top: 5px;
}

#taget div:nth-child(1) {
    background: url(Image/01.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    margin-top: 175px;
    padding-left: 70px;
}

#taget div:nth-child(2) {
    background: url(Image/02.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    padding-left: 70px;
}

#taget div:nth-child(3) {
    background: url(Image/03.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    padding-left: 70px;
}

#taget div h3 {
    font-size: 18px;
    line-height: 42px;
    color: #292f36;
    font-family: Quattrocento-Bold;
    text-transform: uppercase;
}

#taget div p {
    width: 419px;
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
    font-family: OpenSans-Regular;
}

#work>div {
    border-top: 1px solid #dde1e4;
}

#meetTeam h2 {
    margin-top: 85px;
    margin-top: 80px;
    font-size: 36px;
    color: #292f36;
    font-family: Quattrocento-Bold;
    border-left: 10px solid #e1e6ea;
    padding-left: 15px;
    margin-bottom: 60px;
}

#meetTeam ul li {
    display: inline-block;
    width: 250px;
    margin-right: 30px;
}

#meetTeam ul li h3 {
    font-size: 16px;
    line-height: 35px;
    color: #292f36;
    font-family: Quattrocento-Bold;
    padding-left: 20px;
}

#meetTeam ul li p {
    font-size: 14px;
    line-height: 26px;
    color: #8d8f92;
    padding-left: 20px;
}