    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    
    @font-face {
        font-family: "OpenSans Semibold";
        src: url(Fonts/OpenSans-Semibold.ttf);
        font-family: OpenSans-Regular;
        src: url(Fonts/OpenSans-Regular.ttf);
        font-family: OpenSans-Bold;
        src: url(Fonts/OpenSans-Bold.ttf);
        font-family: Quattrocento-Bold;
        src: url(Fonts/Quattrocento-Bold.ttf);
    }
    
    a,
    li {
        list-style: none;
        text-decoration: none;
    }
    
    .container {
        max-width: 1140px;
        margin: 0px auto;
    }
    
    header {
        background: #1d2126;
        height: 80px;
    }
    
    header .container {
        display: flex;
        justify-content: space-between;
    }
    
    #logo {
        padding: 29px 0px;
    }
    
    #menu ul li {
        padding-right: 40px;
        display: inline-block;
    }
    
    #menu ul li:last-child {
        padding-right: 0px;
    }
    
    #menu ul li a {
        line-height: 80px;
        color: #a4aead;
        font-size: 14px;
        font-family: "OpenSans Semibold";
        padding: 8px;
        font-weight: 600;
        border: 2px solid #1d2126;
    }
    
    #menu ul li a:hover {
        border: 2px solid #5a6068;
        border-radius: 5px;
    }
    
    #menu ul li:first-child a {
        color: #23b7a4;
        border: 2px solid #23b7a4;
        padding: 8px;
        border-radius: 5px;
    }
    
    #baner {
        background-color: #3d374f;
        background-image: url(Image/backgrounf.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        height: 660px;
    }
    
    #baner .container h1 {
        font-family: Quattrocento-Bold;
        font-size: 36px;
        line-height: 42px;
        color: #ffffff;
        padding-top: 226px;
        padding-bottom: 24px;
    }
    
    #baner .container h3 {
        font-size: 16px;
        line-height: 26px;
        color: #ccd0d7;
        font-family: OpenSans-Regular;
        font-weight: 400;
        width: 654px;
        padding-bottom: 40px;
    }
    
    #baner .container ul>li {
        display: inline-block;
        padding: 13px 20px;
        border: 2px solid #ffffff;
        border-radius: 5px;
        margin-right: 10px;
    }
    
    #baner .container ul>li a {
        font-size: 14px;
        color: #ffffff;
    }
    
    #baner .container ul>li:hover {
        background-color: #23b7a4;
        border: none;
    }
    
    #about .container {
        display: flex;
    }
    
    #social h2 {
        margin-top: 80px;
        font-size: 36px;
        color: #292f36;
        font-family: Quattrocento-Bold;
        border-left: 10px solid #e1e6ea;
        padding-left: 15px;
        margin-bottom: 60px;
    }
    
    #social p {
        width: 653px;
        font-size: 16px;
        line-height: 26px;
        color: #8d8f92;
        font-family: OpenSans-Regular;
        margin-right: 36px;
    }
    
    #social>p:nth-child(3) {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    #social ul li {
        display: inline-block;
        margin-bottom: 100px;
        background: #c8cdd0;
        height: 60px;
        line-height: 60px;
        width: 60px;
        text-align: center;
        padding-top: 5px;
    }
    
    #social ul li:hover {
        background: #d0d5d9;
    }
    
    #taget div:nth-child(1) {
        background: url(Image/01.png);
        background-repeat: no-repeat;
        background-position: 0px 10px;
        margin-top: 175px;
        padding-left: 70px;
    }
    
    #taget div:nth-child(2) {
        background: url(Image/02.png);
        background-repeat: no-repeat;
        background-position: 0px 10px;
        padding-left: 70px;
    }
    
    #taget div:nth-child(3) {
        background: url(Image/03.png);
        background-repeat: no-repeat;
        background-position: 0px 10px;
        padding-left: 70px;
    }
    
    #taget div h3 {
        font-size: 18px;
        line-height: 42px;
        color: #292f36;
        font-family: Quattrocento-Bold;
        text-transform: uppercase;
    }
    
    #taget div p {
        width: 419px;
        font-size: 16px;
        line-height: 26px;
        color: #8d8f92;
        font-family: OpenSans-Regular;
    }
    
    #about>div {
        border-top: 1px solid #dde1e4;
    }
    /* ==========css for meetTeam=============== */
    
    #meetTeam {
        position: relative;
    }
    
    #meetTeam h2 {
        margin-top: 85px;
        margin-top: 80px;
        font-size: 36px;
        color: #292f36;
        font-family: Quattrocento-Bold;
        border-left: 10px solid #e1e6ea;
        padding-left: 15px;
        margin-bottom: 60px;
    }
    
    #meetTeam>ul>li {
        display: inline-block;
        width: 263px;
        height: 377px;
        margin-right: 19px;
    }
    
    #meetTeam ul>li>img {
        width: 263px;
    }
    
    #meetTeam ul li h3 {
        font-size: 16px;
        color: #292f36;
        font-family: Quattrocento-Bold;
        padding-left: 20px;
        background: #e1e6ea;
        padding-top: 20px;
        padding-bottom: 5px;
        position: relative;
        top: -5px;
    }
    
    #meetTeam ul li p {
        font-size: 14px;
        color: #8d8f92;
        padding-left: 20px;
        background: #e1e6ea;
        padding-bottom: 20px;
        position: relative;
        top: -5px;
    }
    
    #CEO {
        position: absolute;
        top: 230px;
        left: 56px;
    }
    
    #HoD {
        position: absolute;
        top: 230px;
        left: 338px;
    }
    
    #GrapD {
        position: absolute;
        top: 230px;
        left: 626px;
    }
    
    #CSD {
        position: absolute;
        top: 230px;
        left: 920px;
    }
    
    .socialPerson li {
        background: #3a454d;
        height: 47px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        padding-top: 3px;
        display: none;
    }
    
    #meetTeam ul>li:hover p {
        background: #3a454d;
        color: #ffffff;
    }
    
    #meetTeam ul>li:hover h3 {
        background: #3a454d;
        color: #ffffff;
    }
    
    #meetTeam ul>li:hover .socialPerson>li {
        display: inline-block;
    }
    
    .socialPerson>li:hover {
        background: #4e5a62;
    }
    
    #meetTeam>ul>li:hover .personPicture {
        background-color: #ffffff;
        opacity: 40%;
    }
    /* ================CSS for Work========================= */
    
    #work {
        margin-top: 95px;
        background: #3a454d;
    }
    
    #work .container h2 {
        font-size: 36px;
        line-height: 42px;
        color: #ffffff;
        font-family: Quattrocento-Bold;
        text-transform: uppercase;
        border-left: 10px solid #4d5961;
        padding-left: 15px;
    }
    
    #work .container>div:first-child {
        padding-top: 60px;
        padding-bottom: 55px;
    }
    
    #workPicture ul {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: 65px;
    }
    
    #workPicture>ul>li {
        padding-right: 20px;
        padding-bottom: 20px;
    }
    
    #workPicture>ul>li:nth-child(3) {
        padding-right: 0px;
    }
    
    #workPicture>ul>li:nth-child(6) {
        padding-right: 0px;
    }
    
    #workPicture ul>li>a {
        position: absolute;
        display: none;
    }
    
    #workPicture ul>li:nth-child(1) a:nth-child(1) {
        top: 100px;
        left: 180px;
    }
    
    #workPicture ul>li:nth-child(2) a:nth-child(1) {
        top: 100px;
        left: 540px;
        ;
    }
    
    #workPicture ul>li:nth-child(3) a:nth-child(1) {
        top: 100px;
        left: 930px;
    }
    
    #workPicture ul>li:nth-child(4) a:nth-child(1) {
        top: 382px;
        left: 180px;
    }
    
    #workPicture ul>li:nth-child(5) a:nth-child(1) {
        top: 382px;
        left: 540px;
    }
    
    #workPicture ul>li:nth-child(6) a:nth-child(1) {
        top: 382px;
        left: 930px;
    }
    
    #workPicture ul>li a:nth-child(2) {
        color: #ffffff;
        height: 60px;
        background: #292f36;
        line-height: 60px;
        text-transform: uppercase;
        width: 362px;
        top: 207px;
        padding-left: 20px;
    }
    
    #workPicture ul>li:nth-child(4) a:nth-child(2) {
        top: 499px;
    }
    
    #workPicture ul>li:nth-child(5) a:nth-child(2) {
        top: 499px;
    }
    
    #workPicture ul>li:nth-child(6) a:nth-child(2) {
        top: 499px;
    }
    /* #workPicture>ul>li:hover {
        background: #575a5e;
        opacity: 40%;
    } */
    
    #workPicture>ul>li:hover a {
        display: inline-block;
    }
    
    #work .container div:nth-child(3)>a {
        font-size: 14px;
        line-height: 28px;
        color: #ffffff;
        font-family: Quattrocento-Bold;
        padding: 13px 40px;
        background: transparent;
        border: 2px solid #ffffff;
        border-radius: 5px;
        margin-left: 456px;
        margin-bottom: 65px;
    }
    
    #work .container div:nth-child(3) {
        padding-bottom: 65px;
    }
    /* ===css for service================ */
    
    #service h2 {
        font-size: 36px;
        line-height: 42px;
        color: #292f36;
        font-family: Quattrocento-Bold;
        margin-top: 80px;
        text-transform: uppercase;
        border-left: 10px solid #e1e5e9;
        padding-left: 15px;
    }
    
    #service ul li {
        height: 220px;
        width: 255px;
        text-align: center;
        display: inline-block;
    }
    
    #service ul>li>h3 {
        margin-top: 170px;
        font-size: 17px;
        color: #292f36;
        font-family: Quattrocento-Bold;
        padding-bottom: 30px;
        text-transform: uppercase;
    }
    
    #service ul>li>p {
        width: 263px;
        height: 99px;
        font-size: 16px;
        line-height: 26px;
        color: #8d8f92;
        font-family: OpenSans-Regular;
        font-weight: 400;
        text-align: center;
    }
    
    #service ul:nth-child(2) li:nth-child(1) {
        background: url(Image/cogs.png);
        background-repeat: no-repeat;
        background-position: center 80px;
        margin-right: 35px;
    }
    
    #service ul:nth-child(2) li:nth-child(2) {
        background: url(Image/pencil.png);
        background-repeat: no-repeat;
        background-position: center 80px;
        margin-right: 35px;
    }
    
    #service ul:nth-child(2) li:nth-child(3) {
        background: url(Image/mobile.png);
        background-repeat: no-repeat;
        background-position: center 80px;
        margin-right: 35px;
    }
    
    #service ul:nth-child(2) li:nth-child(4) {
        background: url(Image/clock.png);
        background-repeat: no-repeat;
        background-position: center 80px;
    }
    
    #service ul:nth-child(3) li:nth-child(1) {
        background: url(Image/cogs.png);
        background-repeat: no-repeat;
        background-position: center 80px;
        margin-right: 35px;
    }
    
    #service ul:nth-child(3) li:nth-child(2) {
        background: url(Image/pencil.png);
        background-repeat: no-repeat;
        background-position: center 80px;
        margin-right: 35px;
    }
    
    #service ul:nth-child(3) li:nth-child(3) {
        background: url(Image/mobile.png);
        background-repeat: no-repeat;
        background-position: center 80px;
        margin-right: 35px;
    }
    
    #service ul:nth-child(3) li:nth-child(4) {
        background: url(Image/clock.png);
        background-repeat: no-repeat;
        background-position: center 80px;
    }
    /* ==== CSS for feature=============== */
    
    #feature {
        background: #3a454d;
        margin-top: 165px;
    }
    
    #feature .container>div {
        padding-top: 85px;
        padding-bottom: 60px;
    }
    
    #feature .container>div>h2 {
        font-size: 36px;
        line-height: 42px;
        color: #ffffff;
        font-family: Quattrocento-Bold;
        text-transform: uppercase;
        border-left: 10px solid #4d5961;
        padding-left: 15px;
    }
    
    #feature .container>ul>li {
        display: inline-block;
        width: 363px;
        margin-right: 20px;
        padding-bottom: 120px;
    }
    
    #feature .container>ul>li:last-child {
        margin-right: 0px;
    }
    
    #feature .container>ul>li>h3 {
        font-size: 18px;
        line-height: 42px;
        color: #ffffff;
        font-family: Quattrocento-Bold;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    #feature .container>ul>li>p {
        width: 369px;
        height: 185px;
        font-size: 16px;
        line-height: 26px;
        color: #dcdfe1;
        font-family: OpenSans-Regular;
    }
    
    #stayintouch>div:first-child {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    
    #stayintouch div h2 {
        font-size: 36px;
        line-height: 42px;
        color: #292f36;
        font-family: Quattrocento-Bold;
        border-left: 10px solid #e1e5e9;
        padding-left: 15px;
        text-transform: uppercase;
    }
    
    #stayintouch>div:nth-child(3) {
        display: flex;
        padding-top: 55px;
        padding-bottom: 40px;
    }
    
    #stayintouch>div:nth-child(3) h3 {
        font-size: 20px;
        line-height: 26px;
        color: #292f36;
        font-family: Quattrocento-Bold;
        padding-left: 15px;
        padding-bottom: 40px;
        text-transform: uppercase;
    }
    
    #stayintouch>div:nth-child(3)>div>p {
        width: 536px;
        height: 151px;
        font-size: 16px;
        line-height: 26px;
        color: #8d8f92;
        font-family: OpenSans-Regular;
    }
    
    span {}
    
    #formStay {
        height: 390px;
        width: 555px;
        position: relative;
        left: 50px;
        top: -200px;
        background: #ffffff;
    }
    
    #formStay>ul>li {
        display: inline-block;
    }
    
    #formStay>ul>li>p {
        font-size: 14px;
        line-height: 26px;
        color: #8d8f92;
        font-family: Quattrocento-Bold;
        text-transform: uppercase;
        margin-left: 25px;
        margin-top: 30px;
    }
    
    #formStay>ul>li>input {
        background: #eaeef1;
        outline: none;
        border: none;
        width: 245px;
        height: 45px;
        padding-left: 15px;
        font-size: 14px;
        margin-left: 20px;
        border-radius: 5px;
    }
    
    #formStay>ul>li:nth-child(3)>input {
        width: 496px;
        height: 160px;
    }
    
    #formStay>input {
        background: #23b7a4;
        color: #eaeef1;
        text-align: center;
        padding: 15px 30px;
        border: 0px;
        border-radius: 5px;
        margin-top: 30px;
        text-transform: uppercase;
        margin-left: 20px;
    }
    
    footer {
        background: #3a454d;
        height: 95px;
    }
    
    footer .container {
        display: flex;
        justify-content: space-between;
    }
    
    footer .container a {
        color: #ffffff;
        font-size: 14px;
        line-height: 26px;
        font-family: OpenSans-Regular;
        line-height: 95px;
    }
    
    footer .container div>a {
        padding-left: 20px;
        padding-top: 40px;
    }