/* Reset css */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.clearfix ::after {
    content: '';
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* ==Style cho menu */

#menu ul {
    background: #1f568b;
    list-style-type: none;
    text-align: center;
}

#menu li {
    color: #1f1f1f;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}

#menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}

#menu a:hover {
    background: rgb(221, 220, 220);
    color: #333;
}


/* == Dropdown Menu== */

.sub-menu {
    display: none;
    position: absolute;
}

#menu li {
    position: relative;
}

#checkbox:checked+.sub-menu {
    display: block;
}

#checkbox {
    display: none;
}

#checkbox1:checked+.sub-menu {
    display: block;
}

#checkbox1 {
    display: none;
}

#checkbox2 {
    display: none;
}

#checkbox2:checked+.sub-menu {
    display: block;
}

.clickmouse {
    color: #fff;
}


/* creat slider by css */


#swrap {
    position: relative;
    margin-left: 100px;
    margin-top: 30px;
}

input[type="radio"] {
    display: none;
}

#swrapmenu div {
    display: none;
}

input:checked+#slide1 {
    display: block;
}

input:checked+#slide2 {
    display: block;
}

input:checked+#slide3 {
    display: block;
}

.slides {
    top: 100px;
    left: 0;
    z-index: 2;
}

.slidebackground {
    background: rgba(9, 77, 29, 0.8);
    color: #fff;
    padding: .5em;
    margin: 0 1em 0 0;
    display: inline-block;
    cursor: pointer;
}
/* create toggle button  */

#checkboxbutton {
    margin-top: 54px;
    margin-left: 100px;
}

.switch {
    position: relative;
    display: block;
}

.slider {
    content: '';
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(122, 250, 83);
    top: 1px;
    left: 1px;
    transition: all 0.3s;
}

.slider::after {
    content: '';
    position: absolute;
    background: #fff;
    width: 38px;
    height: 38px;
    top: 1px;
    border-radius: 50%;
    transition: all .5s;
}

input:checked+.slider {
    background: #2196F3;
}

input:checked+.slider::after {
    right: 0px;
}

.checkbox {
    display: none;
}

#footer {
    background: pink;
    margin-top: 30px;
}
