* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Work san";
    src: url(font/WorkSans-Bold.otf);
}

@font-face {
    font-family: "Work san semibold";
    src: url(font/WorkSans-SemiBold.otf);
}

@font-face {
    font-family: "Work san regular";
    src: url(font/WorkSans-Regular.otf);
}

.container {
    max-width: 1150px;
    margin: 0px auto;
}

#hero {
    height: 1000px;
    background-color: #0fd5ef;
    background-image: url(image/bg1.png), url(image/Smartphone.png), url(image/bg.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100%, auto, cover;
    background-position: center bottom, center bottom -80px, center bottom;
}


/* CSS for header */

header {
    display: flex;
    justify-content: space-between;
}

#hero .container li {
    display: inline-block;
    padding-top: 50px;
}

header a {
    font-family: "Work san semibold", sans-serif;
    padding: 0px 30px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
}

header a :last-child {
    padding-right: 0px;
}

header>div {
    padding-top: 48px;
}

#childhero h1 {
    font-size: 45px;
    line-height: 60px;
    color: #ffffff;
    font-family: "Work San";
    font-weight: 700;
    text-align: center;
    width: 522px;
    padding-top: 90px;
    display: block;
    margin: 0px auto;
}

#childhero h2 {
    font-size: 15px;
    line-height: 27px;
    color: #ffffff;
    font-family: "Work san regular";
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

#childhero a {
    color: #233148;
}

#childhero li:nth-child(1) {
    font-size: 14px;
    line-height: 40px;
    color: #233148;
    font-family: "Work san regular";
    font-weight: 600;
    text-align: center;
    background: #fff;
    padding: 0px 34px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 37%;
    margin-top: 40px;
    margin-right: 24px;
}

#childhero li:nth-child(2) a {
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    font-family: "Work san regular";
    font-weight: 600;
    text-align: center;
    padding: 0px 34px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #fff;
    margin-top: 40px;
}


/* css for marketing */

#marketing {
    background: #fafafc;
    height: 980px;
}

#marketing .container div:nth-child(1) {
    float: left;
    margin-top: 206px;
}

#marketing .container div:nth-child(2) {
    margin-left: 165px;
    margin-top: 41px;
    width: 270px;
    height: 320px;
    background: #ffffff;
    box-shadow: 0px 6px 9px rgba(35, 38, 47, 0.1);
    float: left;
    text-align: center;
    font-family: "Work san regular", sans-serif;
    padding-top: 60px;
    font-size: 14px;
    line-height: 27px;
    border-radius: 4px;
    color: #6a6d89;
}

#marketing .container div:nth-child(2) h3 {
    margin-top: 25px;
    margin-bottom: 21px;
    color: #233148;
}

#marketing .container div:nth-child(3) {
    margin-left: 61px;
    margin-top: 112px;
    width: 270px;
    height: 320px;
    background: #ffffff;
    box-shadow: 0px 6px 9px rgba(35, 38, 47, 0.1);
    float: left;
    padding-top: 60px;
    text-align: center;
    font-family: "Work san regular", sans-serif;
    border-radius: 4px;
    color: #6a6d89;
}

#marketing .container div:nth-child(3) h3 {
    margin-top: 25px;
    margin-bottom: 21px;
    color: #233148;
}

#marketing .container div:nth-child(4) {
    margin-left: 110px;
    margin-top: 2px;
    width: 270px;
    height: 320px;
    background: #ffffff;
    box-shadow: 0px 6px 9px rgba(35, 38, 47, 0.1);
    float: left;
    padding-top: 60px;
    text-align: center;
    font-family: "Work san regular", sans-serif;
    border-radius: 4px;
    color: #6a6d89;
}

#marketing .container div:nth-child(4) h3 {
    margin-top: 25px;
    margin-bottom: 21px;
    color: #233148;
}

#marketing .container div:nth-child(5) {
    margin-left: 86px;
    margin-top: 100px;
    width: 270px;
    height: 320px;
    background: #ffffff;
    box-shadow: 0px 6px 9px rgba(35, 38, 47, 0.1);
    float: left;
    text-align: center;
    padding-top: 60px;
    font-family: "Work san regular", sans-serif;
    border-radius: 4px;
    color: #6a6d89;
}

#marketing .container div:nth-child(5) h3 {
    margin-top: 25px;
    margin-bottom: 21px;
    color: #233148;
}


/* css for everything */

#stable {
    background: #ffffff;
    height: 625px;
    display: flex;
}

#stable div h2 {
    font-family: "Work san", sans-serif;
    font-size: 30px;
    line-height: 60px;
    color: #233148;
    font-weight: 700;
    text-align: right;
    padding-top: 155px;
}

#stable div p {
    color: #6a6d89;
    font-size: 14px;
    line-height: 27px;
    color: #6a6d89;
    font-family: "Work Sans";
    font-weight: 400;
    text-align: right;
    width: 469px;
    height: 141px;
}

#stable div>a {
    background: #33d2fd;
    text-align: center;
    display: inline-block;
    height: 46px;
    line-height: 46px;
    border-radius: 4px;
    width: 183px;
    left: 41px;
    margin-left: 282px;
    font-size: 15px;
    color: #ffffff;
    font-family: "Work san regular";
    font-weight: 600;
}

#stable ul li a {
    font-size: 15px;
    line-height: 27px;
    color: #233148;
    font-family: "Work san semibolds";
    font-weight: 600;
    display: block;
    padding-left: 78px;
    padding-top: 22px;
}

#stable ul li:nth-child(1) {
    display: block;
    box-shadow: 0px 6px 9px rgba(35, 38, 47, 0.1);
    width: 540px;
    margin-left: 120px;
    margin-top: 90px;
    margin-bottom: 20px;
}

#stable ul li:nth-child(1) a {
    background: url(image/heart.png);
    background-repeat: no-repeat;
    background-position: 3px 2px;
    height: 70px;
    background-position: 34px 24px;
}

#stable ul li:nth-child(2) {
    display: block;
    box-shadow: 0px 6px 9px rgba(35, 38, 47, 0.1);
    width: 540px;
    margin-left: 120px;
    margin-bottom: 20px;
}

#stable ul li:nth-child(2) a {
    background: url(image/mouse.png);
    background-repeat: no-repeat;
    background-position: 3px 2px;
    height: 70px;
    background-position: 34px 24px;
}

#stable ul li:nth-child(3) {
    display: block;
    box-shadow: 0px 6px 9px rgba(35, 38, 47, 0.1);
    width: 540px;
    margin-left: 120px;
    margin-bottom: 20px;
}

#stable ul li:nth-child(3) a {
    background: url(image/bag.png);
    background-repeat: no-repeat;
    background-position: 3px 2px;
    height: 70px;
    background-position: 34px 24px;
}

#stable ul li:nth-child(4) {
    display: block;
    box-shadow: 0px 6px 9px rgba(35, 38, 47, 0.1);
    width: 540px;
    margin-left: 120px;
    margin-bottom: 20px;
}

#stable ul li:nth-child(4) a {
    background: url(image/pan.png);
    background-repeat: no-repeat;
    background-position: 3px 2px;
    height: 70px;
    background-position: 34px 24px;
}

#stable ul li p {
    display: none;
    margin-left: 78px;
    padding-bottom: 34px;
    padding-right: 18px;
    font-family: "Work san regular", sans-serif;
    color: #fff;
}

#stable li:hover {
    background-color: #33d2fd;
}

#stable li:hover p {
    display: block;
}


/* css for everything div */

#everything {
    background-color: #fafafc;
    height: 475px;
}

#everything .container {
    display: flex;
}

#everything .container div>img {
    margin-top: 70px;
}

#option {
    padding-top: 95px;
    margin-left: 150px;
}

#option h2 {
    font-size: 30px;
    line-height: 60px;
    color: #233148;
    font-family: "Work San";
    font-weight: 700;
}

#option li a {
    background: url(image/ticker.png);
    background-repeat: no-repeat;
    padding: 3px 34px;
    color: #233148;
    font-size: 15px;
    font-family: "Work san";
}

#option li:nth-child(1) {
    padding-top: 50px;
    padding-bottom: 12px;
}

#option li:nth-child(2) {
    padding-top: 12px;
    padding-bottom: 40px;
}

#option p {
    width: 469px;
    height: 141px;
    font-size: 14px;
    line-height: 27px;
    color: #6a6d89;
    font-family: "Work san regular";
    font-weight: 400;
}


/* css for get-app */

#get-app {
    background-color: #0dccf0;
    background: url(image/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#get-app .container {
    display: flex;
}

#get-app .container div>img {
    margin-left: 180px;
    margin-top: 110px;
    margin-bottom: 95px;
    margin-right: 80px;
}

#now-advailable {
    margin-left: 80px;
}

#now-advailable h2 {
    margin-top: 170px;
    font-size: 30px;
    line-height: 60px;
    color: #233148;
    font-family: "Work San";
    font-weight: 700;
    text-align: left;
}

#now-advailable p {
    width: 471px;
    font-size: 14px;
    line-height: 27px;
    color: #ffffff;
    font-family: "Work san regular";
    font-weight: 400;
    text-align: left;
}

#now-advailable li {
    display: inline-block;
    margin-top: 40px;
}

#now-advailable li:nth-child(2) {
    margin-left: 30px;
}

#get-app #now-advailable>a {
    position: absolute;
    display: block;
    font-size: 20px;
    line-height: 70px;
    color: #ffffff;
    height: 70px;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #f6387d, #fe7570);
    padding: 0px 80px;
    box-shadow: 0px 11px 29px rgba(255, 7, 94, 0.2);
    bottom: -35px;
    left: calc(50% - 181px);
    font-family: "Work San";
    font-weight: 700;
}

#link {
    display: flex;
    justify-content: space-between;
    margin-top: 145px;
}

#link h3 {
    font-size: 15px;
    line-height: 27px;
    color: #233148;
    font-family: "Work san semibold";
    font-weight: 600;
    margin-bottom: 30px;
}

#link a {
    font-size: 14px;
    line-height: 27px;
    color: #6a6d89;
    font-family: "Work Sans";
    font-weight: 400;
}

#link div:nth-child(1) {
    margin-left: 200px;
}

#link div:last-child {
    margin-right: 235px;
}

#get-in-touch {
    text-align: center;
}

#get-in-touch h2 {
    font-size: 30px;
    line-height: 60px;
    color: #233148;
    font-family: "Work san semibold";
    font-weight: 600;
    margin-top: 105px;
    margin-bottom: 18px;
}

#get-in-touch>a {
    font-size: 14px;
    line-height: 27px;
    color: #6a6d89;
    font-family: "Work san regular";
    font-weight: 400;
}

#get-in-touch form {
    margin-top: 70px;
    margin-bottom: 90px;
}

#get-in-touch form input {
    background-color: #f6f7fb;
    display: inline-block;
    height: 50px;
    width: 575px;
    border: 0px;
}

#get-in-touch form button {
    background-color: #33d2fd;
    display: inline-block;
    height: 50px;
    width: 170px;
    border: 0px;
    font-size: 15px;
    line-height: 27px;
    color: #233148;
    font-family: "Work san semibold";
    font-weight: 600;
    border-radius: 2px;
    margin-left: 30px;
}

footer {
    background: #233148;
}

footer .container {
    display: flex;
    height: 100px;
    line-height: 100px;
}

footer .container>a {
    color: #fff;
}

footer .container ul {
    margin-left: calc(50% - 39px);
}

footer .container ul li {
    display: inline-block;
    margin-right: 45px;
}